@import "../../mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");

.client-heading{
    text-align: center;
    font-size: 4rem;
    color: beige;
    font-weight:700;
    font-family: "El Messiri", sans-serif;
    margin-bottom: 4rem;
}

.review-container{
    background-image: url("review-bg.webp");
    background-size: cover;
    height: 120vh;
    margin: autos;
    // @include flexCenter(1rem);
    .owl-item{
        @include flexCenter(5rem)
    }
  }

  .review-card{
    height: 70rem;
    width: 60rem;
    @include sm{
        height: 50rem;
        width: 40rem;
    }
    @include lg{
        height: 45rem;
        width: 30rem;
    }
    display: flex;
    background-color: #00000084;
    color: beige;
    img{
        width: 1rem;margin: 1rem;
    }
    &-info{
        flex: 1;
        h2{
            font-size: 4.5rem;
            margin: 1rem;
            @include sm{
                font-size: 3.1rem;
            }
            @include lg{
                font-size: 2.5rem;
            }
        }
        p{
            font-size: 2.5rem;
            margin: 1rem;
            @include sm{
                font-size: 1.7rem;
            }
            @include lg{
                font-size: 1.4rem;
            }
        }
        h3{
            font-size: 4rem;
            font-weight: bold;
            margin: 4rem 1rem;
            @include sm{
                font-size: 3rem;
            } 
            @include lg{
                font-size: 2.2rem;
            } 
        }
    }
  }

  .custom-nav-btn {
    position: absolute;
    top: 50%;
    font-size: 4rem;
    font-weight: 900;
    transform: translateY(-50%);
    background-color: transparent;
    color: #e42222;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .prev {
    left: -2px;
    transition: all ease 0.5s;
    &:active {
      left: -10px;
      color: red;
      border: 2px solid red;
    }
  }
  
  .next {
    right: -2px;
    transition: all ease-in-out 0.5s;
    &:active {
      color: red;
      border: 2px solid red;
      right: -10px;
    }
  }