@import "../../mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");

.client-heading{
    text-align: center;
    font-size: 4rem;
    color: beige;
    font-weight:700;
    font-family: "El Messiri", sans-serif;
    margin-bottom: 4rem;
}

.review-container{
    background-image: url("/client-background2.png");
    background-blend-mode: lighten;
    background-size: cover;
    height: 60vh;
    @include md {
      height: 120vh;
    }
    margin: auto;
    // @include flexCenter(1rem);
    .owl-item{
        @include flexCenter(5rem)
    }
  }

  
 
.review-card{
  width: 50rem;
  height: 40rem;
  background-color: #69CAFA;
  .review-card-info{
    border-radius: 12px;
  }
  p{
    margin-top: 5rem;
    font-size: 1.5rem;
  }
  img{
    border: 1rem solid white;
    border-radius: 50%;
    height: 30px !important;
    width: 30px !important;
    @include md {
      height: 70px !important;
      width: 70px !important;
    }
  }
  .upper{
    margin: -4rem;
    &-1{
    border-top-right-radius: 15px;
      padding: 1.2rem;
      h3{
        font-size: 3rem;
        @include md{
          font-size: 2rem;
        }
      }
      }
      svg{
        color: gold;
        font-size: 1rem;
      }
    }
  }
  

  .custom-nav-btn {
    position: absolute;
    top: 50%;
    font-size: 4rem;
    font-weight: 900;
    transform: translateY(-50%);
    background-color: transparent;
    color: #e42222;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .prev {
    left: -2px;
    transition: all ease 0.5s;
    &:active {
      left: -10px;
      color: red;
      border: 2px solid red;
    }
  }
  
  .next {
    right: -2px;
    transition: all ease-in-out 0.5s;
    &:active {
      color: red;
      border: 2px solid red;
      right: -10px;
    }
  }

  hr {
    border: 0;
    height: 2px;
    background-color: black; /* Change to black */
}