@import "../../mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");

.video {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  transform: scale(1.25);
  z-index: -1;
}

.custom-shape-divider-top-1708861069 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1708861069 svg {
  position: relative;
  display: block;
  width: calc(158% + 1.3px);
  height: 500px;
}

.custom-shape-divider-top-1708861069 .shape-fill {
  fill: #ffffff;
}

.owner-section {
  // height: 125vh;
  position: relative;
  background-image: url("/ownerBgImg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.opcity {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.151);
  h1 {
    text-align: center;
    color: azure;
    font-size: 4rem;
    padding-top: 4rem;
    @include sm {
      font-size: 4rem;
    }
  }
}
.white-hr {
  border-top: 1px solid white;
  width: 40%;
}

.img-text {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  @include sm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.owner-text-section {
  margin-top: 40px;
  margin-left: 30px;
  h3 {
    font-size: 3.5rem;
    font-family: "El Messiri", sans-serif;
  }
  p {
    font-size: 2.3rem;
    margin-top: 30px;
    margin-left: 20px;
  }
  h4 {
    color: #ffffff;
    font-weight: bold;
    font-size: 2.3rem;
    margin-left: 25px;
    padding-top: 30px;
  }
  @include sm {
    p {
      width: 600px;
      font-size: 2rem;
    }
    h4 {
      color: #ffffff;
      font-weight: bold;
      margin-left: 0px;
    }
  }
}

//  our servies section
.main-bg-services {
  background-color: #6c938254;
  background-size: cover;
  // height: 120vh;
  h1 {
    text-align: center;
    font-weight: bold;
    color: grey;
    font-size: 5rem;
    padding-top: 50px;
    margin-bottom: 30px;
  }
}

.our-Services-section {
  @include sm {
    display: flex;
    justify-content: space-around;
  }
  .our-Services-section-img {
    @include sm {
      width: 400px;
      height: 500px;
      border-radius: 8px;
    }
  }
}

.card-main-container {
  @include sm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}
.card-container {
  @include sm {
    display: flex;
    margin-top: 20px;
  }
  .card {
    margin-left: 20px;
  }
}

//  client card container

.Clients-bg-section{
  background-image: url("/ownerBgImg.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  .client-heading{
    text-align: center;
    font-weight: bold;
    color: grey;
    font-size: 5rem;
    padding-top: 50px;
    margin-bottom: 30px;
    font-family: "El Messiri", sans-serif;
  }
  .client-headingh4{
     text-align: center;
     font-size: 2rem;
  }
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &-img{
    z-index: 2;
    position: absolute;
    width: 80px;
    left: 8rem;
    height: 80px;
    border-radius: 50%;
    // margin-right: -2rem;
  }
  &-img2{
    left: 3rem;

  }
  &-text{
    // flex: 1;
    margin-left: 2rem;
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
    height: 60px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #0b60d9e0;
    color: antiquewhite;
    @include flexCenter(0);
    font-family: "El Messiri", sans-serif;
    .color{
      height: 50px;
      width: 20px;

    }
  }
}