@import "../../mixin.scss";
.bg {
  //   max-width: 70rem;
  width: 100vw;
  height: 70rem;
  background-image: url("/card-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @include ssm {
    width: 90vw;
  }
  @include lg {
    height: 60rem;
    width: 100%;
  }
  @include xl {
    height: 55rem;
  }
  .card {
    width: 100%;
    height: 100%;
    // background-color: #00000073;
    @include flexColCenter(0);
    .item {
      img,
      h2,
      p {
        width: 100%;
        height: 100%;
      }
    }
    &-img {
      flex: 5;
      img {
        border-radius: 12px;
        margin-top: 1rem;
        padding: 1rem;
      }
    }
    &-title {
      flex: 2;
      h2 {
        font-size: 5rem;
        font-family: "El Messiri", sans-serif;
        color: rgb(0 18 159);
        text-transform: capitalize;
        @include lg {
          font-size: 3rem;
        }
      }
    }
    &-paragraph {
      flex: 3;
      p {
        padding: 1rem;
        font-size: 3.3rem;
        font-family: sans-serif;
        @include lg {
          margin-top: -5rem;
          font-size: 2rem;
        }
      }
    }
    .read-more {
      border: none;
      border-radius: 5px;
      margin-bottom: 1rem;
      background-color: indigo;
      font-size: 3rem;
      padding: 2rem 4rem;
      color: white;
      @include lg {
        font-size: 2.2rem;
        padding: 1rem 2rem;
        margin-top: -15rem;
      }
    }
  }
}
