.navbar {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  align-items: center;
  font-family: sans-serif;
  // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adding a 3D shadow effect */
  width: 100%;
  transition: all ease 0.5s;
  position: absolute;
  top: 0;
  z-index: 2;
  &-top {
    background: transparent;
  }
  &-show {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    // transform: translateY(0px);
  }
  &-hide {
    transform: translateY(-100%) !important;
  }
  .logo {
    img {
      width: 8rem;
    }
  }

  .navbar-items {
    display: flex;
    gap: 3rem;
    list-style: none;
  }
  .navbar-item {
    cursor: pointer;
  }

  .navbar-items li a {
    color: black;
    text-transform: capitalize;
  }
  .navbar-items li {
    position: relative;
    text-transform: capitalize;
    border: none;

    &:hover {
      .link-dropdown {
        transform: scaleY(1);
      }
    }

    .link-dropdown {
      transform-origin: 0 0;
      background-color: #bbbbbba2;
      position: absolute;
      transform: scaleY(0);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      font-size: 1.5rem;
      font-weight: 500;
      top: calc(100% + 3.5rem);
      left: 0;
      width: 21rem;
      transition: all ease-in-out 0.3s;
      &:hover {
        transform: scaleY(1);
      }
      &-item {
        transition: all ease-in-out 0.3s;

        padding: 1rem;
        &:hover {
          color: red;
          font-size: 1.6rem;
        }
      }
    }
  }
}
.navbar .active {
  color: #c8416a;
  font-size: 1.8rem;
}
