@import "./mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
  font-size: 5px;
  @include ssm {
    font-size: 6px;
  }
  @include sm {
    font-size: 7px;
  }
  @include md {
    font-size: 8px;
  }
  @include lg {
    font-size: 10px;
  }
  @include xl {
    font-size: 11px;
  }
  @include xxl {
    font-size: 13px;
  }
}

body {
  // background-color: aqua;
}

body {
  overflow-x: hidden;
}

.button {
  position: absolute;
  bottom: 4rem;
  left: 3rem;
  display: none;
  @include lg {
    display: block;
  }
  button {
    border: 2px solid #c8416a;
    background-color: #c8416a;
    padding: 1.6rem 3.3rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s all ease-in-out;
    &:hover {
      background-color: #c8416a;
      color: wheat;
    }
  }
}

.main {
  height: 100vh;
  scroll-snap-align: center;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent; /* Make scrollbar handle transparent */
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: transparent; /* Make scrollbar handle transparent on hover */
  }
}
